@import "./../../constants/colors.scss";

.container {
  width: calc(100vw - 104px);
  max-height: 100vh;
  display: grid;
  padding: 24px;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px repeat(7, 1fr);
  grid-template-areas:
    "text_container text_container text_container most_order most_order "
    "summary_container summary_container summary_container most_order most_order"
    "summary_container summary_container summary_container most_order most_order"
    "summary_container summary_container summary_container most_order most_order"
    "order_report order_report order_report most_order most_order"
    "order_report order_report order_report most_type_order most_type_order"
    "order_report order_report order_report most_type_order most_type_order"
    "order_report order_report order_report most_type_order most_type_order";
}

.text_container {
  grid-area: text_container;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid $third-color;
}
.header_main_text {
  color: $white-color;
  font-family: "Comfortaaa-700";
  font-size: 28px;
  margin-bottom: 8px;
}
.header_second_text {
  color: $second-text-color;
  font-family: "Comfortaaa-400";
}
.summary_container {
  grid-area: summary_container;
  display: flex;
  row-gap: 17px;
  flex-direction: column;
}

.order_report {
  grid-area: order_report;
  background-color: $base-color;
  border-radius: 8px;
  padding: 10px;
}

.most_order {
  grid-area: most_order;
  background-color: $base-color;
  padding: 12px;
  border-radius: 8px;
}

.most_type_of_order {
  grid-area: most_type_order;
  background-color: $base-color;
  padding: 12px;
  border-radius: 8px;
}
