@import "./../../constants/colors.scss";

.container {
  display: none;
  //   display: flex;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.loader {
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-color: $white-color transparent transparent transparent;
  border-radius: 50%;
  color: white;
  animation: spin 1s linear infinite;
}
.text {
  position: absolute;
  color: white;
  font-family: "Comfortaaa-700";
  font-size: 18px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
