@import "./../../constants/colors.scss";
@import "./../../constants/mixin.scss";

.container {
  height: 100vh;
  min-width: 104px;
  background-color: $base-color;
  border-radius: 0 16px 16px 0;
  @include flex_position(space-between, center, column);
  padding: 24px 0;
}
.logo {
  @include flex_center;
  height: 56px;
  width: 56px;
  background-color: rgb($logo-bg-color, 0.26);
  border-radius: 10px;
}
.menu_button {
  height: 70%;
  @include flex_position(flex-start, center, column);
}
.link_container {
  @include flex_center;
  width: 56px;
  height: 56px;
  pointer-events: auto;
  border-radius: 8px;
}
.hover_container {
  position: relative;
  @include flex_center;
  width: 80px;
  height: 80px;
  border-radius: 8px 0 0 8px;
  pointer-events: none;
  margin-top: 24px;
}

.link_container:hover {
  background-color: $primary-color;
  box-shadow: 0px 0px 0 12px $secondary-color;
  .icon {
    color: white;
  }
}

.active {
  @include flex_center;
  width: 56px;
  height: 56px;
  background-color: $primary-color;
  pointer-events: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 0 12px $secondary-color;
  .icon {
    color: white;
  }
}

.exit_button {
  @include flex_center;
  height: 56px;
  width: 56px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $primary-color;
  background-color: inherit;
  margin-top: 24px;
}
.icon {
  color: $primary-color;
}
.exit_button:hover {
  background-color: $primary-color;
  .icon {
    color: white;
  }
}
.log_in_page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_continer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_busket_container {
  width: 56px;
  padding: 10px;
  pointer-events: auto;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}
.busket_price {
  color: $primary-color;
}

.link_busket_container:hover {
  background-color: $primary-color;
  box-shadow: 0px 0px 0 12px $secondary-color;
  .icon {
    color: $white-color;
  }
  .busket_price {
    color: $white-color;
  }
}
.active_busket {
  width: 56px;
  padding: 10px;
  background-color: $primary-color;
  pointer-events: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 0 12px $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  text-decoration: none;
  .icon {
    color: white;
  }
  .busket_price {
    color: $white-color;
  }
}
