@font-face {
  font-family: "Comfortaaa-300";
  src: url(./Comfortaa/Comfortaa-Light.ttf);
}
@font-face {
  font-family: "Comfortaaa-400";
  src: url(./Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: "Comfortaaa-500";
  src: url(./Comfortaa/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: "Comfortaaa-600";
  src: url(./Comfortaa/Comfortaa-SemiBold.ttf);
}
@font-face {
  font-family: "Comfortaaa-700";
  src: url(./Comfortaa/Comfortaa-Bold.ttf);
}
