@import "./../../constants/colors.scss";

//..................Site Setting.............

.wrap {
  width: calc(100% - 104px);
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  margin: 12px 24px 0;
  border-bottom: 1px solid $third-color;
}
.header_up_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_text {
  font-family: "Comfortaaa-700";
  font-size: 28px;
  color: $white-color;
}
.container {
  width: 100%;
  max-height: 84%;
  margin-top: 12px;
  padding: 0 24px;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: flex-start;
  align-content: flex-start;
}
.filter_container {
  display: flex;
  height: 57px;
  column-gap: 32px;
}

@media screen and (max-width: 991px) {
  .filter_container {
    column-gap: 12px;
  }
}
@media screen and (max-width: 670px) {
  .wrap {
    width: 100vw;
    height: calc(100vh - 69px);
  }
  .container{
    max-height: 80%;
  }
}
