$base-color: #1f1d2b;
$logo-bg-color: #eb966a;
$primary-color: #ea7c69;
$secondary-color: #252836;
$third-color: #393c49;
$fourth-color: #2d303e;
$red-color: #ff7ca3;
$white-color: white;
$secont-text-color: #abbbc2;
$first-text-color: #e0e6e9;
