$white-color: #ffffff;

$logo-bg-color: #eb966a;
$primary-color: #ea7c69;
$base-color: #1f1d2b;
$secondary-color: #252836;
$third-color: #393c49;
$fourth-color: #2d303e;

$secont-text-color: #abbbc2;
$first-text-color: #e0e6e9;

$red-color: #ff7ca3;
$green-color: #50d1aa;
$orang-color: #ffb572;
$purple-color: #9290fe;
$blue-color: #65b0f6;
