@import "./../../constants/colors.scss";

.container {
  width: calc(100vw - 104px);
  max-height: 100vh;
  display: grid;
  padding: 24px;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "text_container text_container text_container most_order most_order "
    "summary_container summary_container summary_container most_order most_order"
    "order_report order_report order_report most_order most_order"
    "order_report order_report order_report most_type_order most_type_order"
    "order_report order_report order_report most_type_order most_type_order";
}

.text_container {
  grid-area: text_container;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid $third-color;
}
.header_main_text {
  color: $white-color;
  font-family: "Barlow-600";
  font-size: 28px;
  margin-bottom: 8px;
}
.header_second_text {
  color: $secont-text-color;
  font-family: "Barlow-400";
}
.summary_container {
  grid-area: summary_container;
  display: flex;
  gap: 0 24px;
  justify-content: space-between;
}

.order_report {
  grid-area: order_report;
  background-color: $base-color;
  border-radius: 8px;
  padding: 24px;
}
.top_order_container {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.top_order_text {
  font-family: "Barlow-600";
  font-size: 28px;
  color: $white-color;
}
.top_order_filter {
  height: 100%;
  border: 1px solid $third-color;
  border-radius: 8px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  column-gap: 8px;
  font-size: 14px;
}
.table_header {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $third-color;
  margin-bottom: 16px;
}
.table_customer {
  width: 28%;
}
.table_menu {
  width: 26%;
}
.table_payment {
  width: 20%;
}
.table_status {
  width: 15%;
}
.table_customer,
.table_menu,
.table_payment,
.table_status {
  color: $white-color;
  font-family: "Barlow-600";
  font-size: 14px;
}
.order_report_container {
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 87px);
  // background-color: red;

}

.most_order {
  grid-area: most_order;
  background-color: $base-color;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $third-color;
  padding-bottom: 24px;
}
.top_container_text {
  color: $white-color;
  font-family: "Barlow-600";
  font-size: 20px;
}
.most_type_order {
  grid-area: most_type_order;
  background-color: $base-color;
  padding: 24px;
  border-radius: 8px;
}
.most_order_button {
  height: 48px;
  width: 100%;
  border: 1px solid $primary-color;
  background-color: inherit;
  border-radius: 8px;
  color: $primary-color;
  font-family: "Barlow-600";
  font-size: 14px;
  cursor: pointer;
}
.most_order_button:hover {
  background-color: $primary-color;
  color: white;
}

.most_order_item {
  display: flex;
}
.most_order_image {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.order_item_text {
  margin-left: 16px;
}
.order_item_main_text {
  color: $white-color;
  font-size: 14px;
  margin-bottom: 4px;
}
.order_item_secon_text {
  font-family: "Barlow-400";
  font-size: 12px;
  color: $secont-text-color;
}

.graph_container {
  height: calc(100% - 75px);
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.graph_wrap {
  position: relative;
  width: 200px;
  height: 100%;
}
.type_of_order_container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}
.type_dineIn {
  position: relative;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;
    width: 18px;
    height: 18px;
    background-color: $red-color;
    border-radius: 50%;
  }
}

.type_toGo {
  position: relative;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;
    width: 18px;
    height: 18px;
    background-color: $orang-color;
    border-radius: 50%;
  }
}

.type_delivery {
  position: relative;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;
    width: 18px;
    height: 18px;
    background-color: $blue-color;
    border-radius: 50%;
  }
}
.type_text {
  color: $white-color;
  font-size: 14px;
}
.second_type_text {
  margin-top: 4px;
  font-family: "Barlow-400";
  font-size: 12px;
  color: $secont-text-color;
}
