@import "./../../constants/colors.scss";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.shadow_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.left_container {
  background-color: $base-color;
  width: 410px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.back_arrow {
  background-color: inherit;
  border: 0;
  cursor: pointer;
  width: max-content;
  padding: 0;
}
.middle_container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm_text {
  color: $white-color;
  font-family: "Comfortaaa-700";
  font-size: 28px;
}
.order_text {
  margin-top: 8px;
  // font-family: ;
  color: $secont-text-color;
}
.plus_button {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: inherit;
  border: 1px solid $primary-color;
  cursor: pointer;
}
.plus_icon {
  stroke: $primary-color;
}

.plus_button:hover {
  background-color: $primary-color;
  .plus_icon {
    stroke: $white-color;
  }
}

.right_container {
  background-color: $base-color;
  padding: 25px;
  width: 410px;
  border-left: 1px solid $third-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.payment_container {
  margin-top: 24px;
  display: grid;
  gap: 14px 13px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "peyment_text peyment_text"
    "aval_metod_text aval_metod_text"
    "up_horiz_line up_horiz_line"
    "metod_text metod_text "
    "payment_select payment_select"
    "card_name card_name"
    "expiration_date cvv"
    "horiz_line horiz_line"
    " selector table_no"
    "userName phoneNamber"
    "address address";
}
.payment_text {
  grid-area: peyment_text;
  margin-top: 20px;
  font-family: "Comfortaaa-700";
  font-size: 28px;
  color: $white-color;
}

.available_metod_text {
  grid-area: aval_metod_text;
  margin-top: -8px;
  margin-bottom: 8px;
  color: $secont-text-color;
}
.up_horiz_line {
  grid-area: up_horiz_line;
  background-color: $third-color;
  height: 1px;
}

.method_text {
  grid-area: metod_text;
  color: $white-color;
  font-family: "Comfortaaa-700";
  font-size: 20px;
}
.payment_select {
  grid-area: payment_select;
  display: flex;
}
.paypal_button,
.card_button,
.cash_button {
  width: 100px;
  background-color: inherit;
  color: $secont-text-color;
  height: 64px;
  border-radius: 8px;
  border: 1px solid $third-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}
.paypal_button {
  stroke: $secont-text-color;
}
.checked_icon {
  display: none;
  position: absolute;
  color: $primary-color;
  top: 7px;
  right: 7px;
}
.paypal_button:hover,
.card_button:hover,
.cash_button:hover {
  border-color: $white-color;
  color: $white-color;
}
.paypal_button:hover {
  border-color: $white-color;
  stroke: $white-color;
}
input:checked + .card_button {
  border-color: $white-color;
  color: $white-color;
  .checked_icon {
    display: block;
  }
}
input:checked + .cash_button {
  border-color: $white-color;
  color: $white-color;
  .checked_icon {
    display: block;
  }
}
input:checked + .paypal_button {
  border-color: $white-color;
  color: $white-color;
  stroke: $white-color;
  .checked_icon {
    display: block;
    stroke-width: 0;
  }
}

.label {
  color: $white-color;
  font-size: 14px;
}
.input_cvv,
.input_date,
.input {
  margin-top: 8px;
  height: 48px;
  border: 1px solid $third-color;
  border-radius: 8px;
  background-color: $fourth-color;
  padding: 0 14px;
  color: $first-text-color;
  font-size: 14px;
  font-family: "Comfortaaa-400";
}
.input_date,
.input_cvv,
.input:focus-visible {
  outline: none;
}
.card_number {
  grid-area: card_name;
  display: flex;
  flex-direction: column;
}
.expiration_date {
  grid-area: expiration_date;
  display: flex;
  flex-direction: column;
}

.input_date {
  color-scheme: dark;
  cursor: pointer;
}
.cvv {
  grid-area: cvv;
  display: flex;
  flex-direction: column;
}
.input_cvv {
  letter-spacing: 0.7em;
}

.horiz_line {
  grid-area: horiz_line;
  height: 1px;
  background-color: $third-color;
}
.selector {
  grid-area: selector;
  height: 74px;
}
.selector_text {
  color: $white-color;
  font-size: 14px;
  margin-bottom: 8px;
}

.table_no {
  grid-area: table_no;
}
.name {
  grid-area: userName;
  display: flex;
  flex-direction: column;
}
.phoneNamber {
  grid-area: phoneNamber;
  display: flex;
  flex-direction: column;
}
.address {
  grid-area: address;
  display: flex;
  flex-direction: column;
}
.buttons {
  height: 48px;
  display: flex;
}
.confirm_button,
.cancel_button {
  width: 100%;
  color: $primary-color;
  background-color: inherit;
  border: 1px solid $primary-color;
  border-radius: 8px;
  font-family: "Comfortaaa-700";
  font-size: 14px;
  cursor: pointer;
}
.cancel_button {
  margin-right: 8px;
}
.confirm_button:hover,
.cancel_button:hover {
  background-color: $primary-color;
  color: $white-color;
}
.confirm_button:disabled {
  background-color: inherit;
  color: $primary-color;
  opacity: 0.5;
}
