@import "./../../constants/colors.scss";

.container {
  cursor: pointer;
  border: 3px solid $primary-color;
  width: 192px;
  height: 226px;
  border-radius: 16px;
  background-color: $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.add_icon {
  width: 60px;
  height: 60px;
  color: $primary-color;
}
.container:hover {
  background-color: $primary-color;
  border-color: $white-color;
  .add_icon {
    color: $white-color;
  }
}
