@import "./assets/Fonts/fonts.scss";
@import "./constants/colors.scss";

.main_container {
  font-family: "Comfortaaa-500";
  display: flex;
  background-color: #252836;
  position: relative;
}
input {
  height: 48px;
  width: 100%;
  background-color: $fourth-color;
  color: $white-color;
  border: 1px solid $third-color;
  border-radius: 8px;
  padding: 0 8px;
  text-align: center;
}
input:focus-visible {
  outline: none;
  border: 1px solid $white-color;
}
input[type="radio"] {
  display: none;
}
