@import "./../../constants/colors.scss";

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp_container {
  padding: 24px;
  width: 50vw;
  background-color: $base-color;
  border-radius: 8px;
  display: grid;
  gap: 24px 16px;
  grid-template-columns: 1fr 1fr 1px 1fr 1fr;
  grid-template-rows: max-content 1px 1fr 1fr 1fr 48px;
  grid-template-areas:
    "signUp_text          signUp_text         .           exit               exit"
    "horz_line            horz_line           horz_line   horz_line          horz_line"
    "email_input          email_input         vert_line   firstName_input    firstName_input "
    "password_input       password_input      vert_line   lastName_input     lastName_input"
    ".                    .                   vert_line   age_input          age_input   "
    "signUp_button        signUp_button       vert_line   logIn_buttons      logIn_buttons  ";
}
.signUp_text {
  grid-area: signUp_text;
  font-family: "Comfortaaa-700";
  font-size: 28px;
  color: $white-color;
  text-align: start;
}
.exit {
  grid-area: exit;
  text-decoration: none;
  color: $white-color;
  text-align: end;
}
.horz_line {
  grid-area: horz_line;
  height: 100%;
  background-color: $third-color;
}
.vert_line {
  grid-area: vert_line;
  height: 100%;
  background-color: $third-color;
}
input {
  height: 48px;
  width: 100%;
  background-color: $fourth-color;
  color: $white-color;
  border: 1px solid $third-color;
  border-radius: 8px;
  padding: 0 8px;
  text-align: center;
}
input:focus-visible {
  outline: none;
}
.email_lable,
.password_lable,
.firstName_lable,
.lastName_lable,
.age_lable {
  margin-bottom: 8px;
}
.email_container,
.password_container,
.firstName_container,
.lastName_container,
.age_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: $white-color;
}
.email_container {
  grid-area: email_input;
}
.password_container {
  grid-area: password_input;
}
.firstName_container {
  grid-area: firstName_input;
}
.lastName_container {
  grid-area: lastName_input;
}
.age_container {
  grid-area: age_input;
}
.logIn_buttons {
  grid-area: logIn_buttons;
}
.signUp_buttons {
  grid-area: signUp_button;
}
// .logIn_other_way {
//   grid-area: logIn_other_way;
//   display: flex;
//   flex-direction: column;
// }
// .logIn_other_way_text {
//   font-family: "Comfortaaa-700";
//   color: $white-color;
//   font-size: 18px;
//   margin-bottom: 10px;
// }
// .google,
// .facebook {
//   height: 48px;
//   background-color: $fourth-color;
//   margin-bottom: 24px;
//   text-align: center;
//   color: $white-color;
//   border: 1px solid $primary-color;
//   font-family: "Comfortaaa-700";
//   border-radius: 8px;
//   font-size: 20px;
//   cursor: pointer;
// }
// .google:hover,
// .facebook:hover {
//   background-color: $white-color;
//   color: $fourth-color;
// }
