@import "./../../constants/colors.scss";

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp_container {
  padding: 24px;
  width: 50vw;
  background-color: $base-color;
  border-radius: 8px;
  display: grid;
  gap: 24px 16px;
  grid-template-columns: 1fr 1fr 1px 1fr  1fr;
  grid-template-rows: max-content 1px 1fr 1fr 1fr 1fr 48px;
  grid-template-areas:
    "signUp_text          signUp_text         .           exit                exit              "
    "horz_line            horz_line           horz_line   horz_line          horz_line         "
    "email_input          email_input         vert_line   userName_input     userName_input    "
    "password_input       password_input      vert_line   city_input         city_input        "
    "phonerNumber_input   phonerNumber_input  vert_line   street_input       street_input"
    ".                     .                    vert_line   buildNumber_input  buildNumber_input"
    "signUp_button        signUp_button       vert_line   logIn_buttons      logIn_buttons    ";
}
.signUp_text {
  grid-area: signUp_text;
  font-family: "Comfortaaa-700";
  font-size: 28px;
  color: $white-color;
  text-align: start;
}
.exit {
  grid-area: exit;
  text-decoration: none;
  color: $white-color;
  text-align: end;
}
.horz_line {
  grid-area: horz_line;
  height: 100%;
  background-color: $third-color;
}
.vert_line {
  grid-area: vert_line;
  height: 100%;
  background-color: $third-color;
}
input {
  height: 48px;
  width: 100%;
  background-color: $fourth-color;
  color: $white-color;
  border: 1px solid $third-color;
  border-radius: 8px;
  padding: 0 8px;
  text-align: center;
}
input:focus-visible {
  outline: none;
}
.email_lable,
.password_lable,
.userName_lable,
.phonerNumber_lable,
.city_lable,
.street_lable,
.buildNumber_lable {
  margin-bottom: 8px;
}
.email_container,
.password_container,
.userName_container,
.phonerNumber_container,
.city_container,
.street_container,
.buildNumber_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: $white-color;
}
.email_container {
  grid-area: email_input;
}
.password_container {
  grid-area: password_input;
}
.userName_container {
  grid-area: userName_input;
}
.phonerNumber_container {
  grid-area: phonerNumber_input;
}
.city_container {
  grid-area: city_input;
}
.street_container {
  grid-area: street_input;
}
.buildNumber_container {
  grid-area: buildNumber_input;
}
.logIn_buttons {
  grid-area: logIn_buttons;
}
.signUp_buttons {
  grid-area: signUp_button;
}
